body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color-s{
    color: orange;
}
.division{
    width: 50%;
    padding-left: 7%;
}
.flexable-container{
display: flex;
margin-bottom: 150px;
}
.division img{
    width: 80%;
}
.buttom{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(red,tomato);
    padding: 10px 30px;
    border-radius: 7px;
    color: white;
}
.experences-item{
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 40px;
    box-shadow: 10px 10px 40px red;
}
#web-div-exper{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#web-div-sec{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: saddlebrown;
    font-size: 20px;
    
}